<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>query-specification</key>
			<dict>
				<key>query</key>
				<string>text</string>
				<key>term</key>
				<dict>
					<key>text</key>
					<string>TODO</string>
				</dict>
			</dict>
			<key>type</key>
			<string>batch-find-query</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>53</string>
					<key>EndingLineNumber</key>
					<string>89</string>
					<key>StartingColumnNumber</key>
					<string>12</string>
					<key>StartingLineNumber</key>
					<string>89</string>
					<key>Timestamp</key>
					<string>772132204.704013</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MotusLabTool/Play/PlayControllersView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>for n in 0..&lt;consoleControllers.count-1 {</string>
				<key>leading</key>
				<string>            var maxNumber: Int = 1
            //for n in 1..&lt;consoleControllers.count {
            </string>
				<key>trailing</key>
				<string>
                let controller = consoleControllers[n]
                if controller {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>294</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>293</string>
					<key>Timestamp</key>
					<string>784399137.991606</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MotusLabTool/WindowController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            for n in 0..&lt;128 {
</string>
				<key>leading</key>
				<string>            
            //for n in 1..&lt;129 {
</string>
				<key>trailing</key>
				<string>                
                if consoleAParameters.filterControllers[n] {
                    
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>346</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>345</string>
					<key>Timestamp</key>
					<string>784399137.991569</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MotusLabTool/WindowController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    let num1 = preferences.integer(forKey: PreferenceKey.color9Num)
</string>
				<key>leading</key>
				<string>                    let num3 = preferences.integer(forKey: PreferenceKey.color11Num) + 1*/
                    
</string>
				<key>trailing</key>
				<string>                    let num2 = preferences.integer(forKey: PreferenceKey.color10Num)
                    let num3 = preferences.integer(forKey: PreferenceKey.color11Num)
                    
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>324</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>323</string>
					<key>Timestamp</key>
					<string>784399137.991599</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MotusLabTool/WindowController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    let num1 = preferences.integer(forKey: PreferenceKey.color5Num)
</string>
				<key>leading</key>
				<string>                    let num3 = preferences.integer(forKey: PreferenceKey.color7Num) + 1*/
                    
</string>
				<key>trailing</key>
				<string>                    let num2 = preferences.integer(forKey: PreferenceKey.color6Num)
                    let num3 = preferences.integer(forKey: PreferenceKey.color7Num)
                    
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>302</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>301</string>
					<key>Timestamp</key>
					<string>784399137.991591</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MotusLabTool/WindowController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    let num1 = preferences.integer(forKey: PreferenceKey.color1Num)
</string>
				<key>leading</key>
				<string>                    let num3 = preferences.integer(forKey: PreferenceKey.color3Num) + 1*/
                    
</string>
				<key>trailing</key>
				<string>                    let num2 = preferences.integer(forKey: PreferenceKey.color2Num)
                    let num3 = preferences.integer(forKey: PreferenceKey.color3Num)
                    
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>28</string>
					<key>EndingLineNumber</key>
					<string>312</string>
					<key>StartingColumnNumber</key>
					<string>21</string>
					<key>StartingLineNumber</key>
					<string>312</string>
					<key>Timestamp</key>
					<string>778005646.034935</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MotusLabTool/Export.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>console</string>
				<key>leading</key>
				<string>    func convertConsoleController(_ console: [Bool]) -&gt; [Int] {
        var result = [Int]()
        for n in 0..&lt;</string>
				<key>trailing</key>
				<string>.count {
        //for n in 1..&lt;console.count {
            if console[n] {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>87</string>
					<key>EndingLineNumber</key>
					<string>22</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>22</string>
					<key>Timestamp</key>
					<string>778262975.182759</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MotusLabTool/Various/NSButtonCounter.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>// TODO: Change the CounterButton to view so that we can adjust its size in the toolbar</string>
				<key>leading</key>
				<string>import Cocoa

</string>
				<key>trailing</key>
				<string> (necessary for iOS26)
class NSButtonCounter: NSButton {
    
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
